* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #0d1b2a;
    color: white;
    padding: 20px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size: 35px;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    color: #c7d3e0;
}

.titulo-autores {
    text-align: center;
    padding: 45px 20px;
}

.titulo-autores h2 {
    font-size: 42px;
    color: #0d1b2a;
}

.titulo-autores p {
    font-size: 20px;
    color: #555;
    margin-top: 10px;
}


.tabla-autores {
    width: 85%;
    margin: 20px auto 60px;
    background-color: white;
    padding: 25px;
    border-radius: 12px;
}

.tabla-autores table {
    width: 100%;
    border-collapse: collapse;
}

.tabla-autores th {
    background-color: #0d1b2a;
    color: white;
    padding: 15px;
    text-align: left;
}

.tabla-autores td {
    padding: 14px;
    border-bottom: 1px solid #ddd;
    color: #333;
}

.tabla-autores tr:hover {
    background-color: #f0f4f8;
}


footer {
    background-color: #0d1b2a;
    color: white;
    text-align: center;
    padding: 20px;
}