* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #0d1b2a;
    color: white;
    padding: 20px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size: 35px;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.titulo-catalogo {
    text-align: center;
    padding: 40px 20px;
}

.titulo-catalogo h2 {
    font-size: 42px;
    color: #0d1b2a;
}

.titulo-catalogo p {
    font-size: 20px;
    color: #555;
    margin-top: 10px;
}

.tabla-catalogo {
    width: 90%;
    margin: 40px auto;
}

.tabla-catalogo table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
}

.tabla-catalogo th {
    background-color: #0d1b2a;
    color: white;
    padding: 15px;
    font-size: 18px;
    text-align: center;
}

.tabla-catalogo td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    color: #333;
}

.tabla-catalogo tr:hover {
    background-color: #f0f4f8;
}

.tabla-catalogo img {
    width: 80px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.tabla-catalogo a {
    background-color: #0d1b2a;
    color: white;
    text-decoration: none;

    padding: 10px 15px;
    border-radius: 8px;

    font-weight: bold;
}

.tabla-catalogo a:hover {
    background-color: #1b263b;
}

.busqueda {
    text-align: center;
    margin: 30px 0;
}

.busqueda input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.busqueda button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #0d1b2a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.busqueda button:hover {
    background-color: #1b263b;
}

footer {
    background-color: #0d1b2a;
    color: white;
    text-align: center;
    padding: 20px;
}





/*AQUI EMPIEZA EL MEDIA QUERY*/

@media(max-width: 768px){

    header{
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    nav{
        flex-direction: column;
        gap: 10px;
    }

    .logo h1{
        font-size: 28px;
    }

    table{
        font-size: 14px;
    }

    th, td{
        padding: 10px;
    }

    img{
        max-width: 100%;
    }

    .tabla-catalogo{
        width: 95%;
        overflow-x: auto;
    }

    .busqueda input{
        width: 80%;
        margin-bottom: 10px;
    }

    .busqueda button{
        width: 80%;
        margin-left: 0;
    }
}