* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}


header {
    background-color: #0d1b2a;
    color: white;
    padding: 20px 50px;
}

.logo h1 {
    font-size: 35px;
}


.bienvenida {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 60px;
}

.texto {
    width: 50%;
}

.texto h2 {
    font-size: 55px;
    margin-bottom: 20px;
    color: #0d1b2a;
}

.texto p {
    font-size: 22px;
    color: #444;
}

.imagen img {
    width: 450px;
}

.populares {
    padding: 40px 60px;
    text-align: center;
}

.populares h2 {
    font-size: 35px;
    color: #0d1b2a;
    margin-bottom: 30px;
}

.contenedor-libros {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.libro {
    background-color: white;
    width: 230px;
    padding: 15px;
    border-radius: 12px;
    text-align: left;
}

.libro img {
    width: 100%;
    height: 300px;
    border-radius: 8px;
}

.libro h3 {
    margin-top: 12px;
    color: #0d1b2a;
}

.libro p {
    color: #555;
    margin: 5px 0;
}

.libro span {
    font-size: 14px;
    color: #777;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

    transition: 0.3s;
}

nav a:hover {
    color: #c7d3e0;
}

footer{
    background-color: #0d1b2a;
    color: white;
    text-align: center;
    padding: 20px;
}


/*AQUI EMPIEZA EL MEDIA QUERY*/

@media(max-width: 768px){

    header{
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    nav{
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .logo h1{
        font-size: 28px;
    }

    .bienvenida{
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }

    .texto{
        width: 100%;
    }

    .texto h2{
        font-size: 38px;
    }

    .texto p{
        font-size: 18px;
    }

    .imagen img{
        width: 250px;
        margin-top: 20px;
    }

    .populares{
        padding: 30px;
    }

    .contenedor-libros{
        flex-direction: column;
        align-items: center;
    }

    .libro{
        width: 90%;
        max-width: 300px;
    }

    footer{
        font-size: 14px;
    }
}